.chat-window{
  
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  border:1px solid #ccc;
  background-color: #f8f8f8;
  overflow: hidden;
}
.receiver-info{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
  border-bottom: 1px solid #ccc;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  /* Add styles to display the user's profile picture */
}
.receiver-info h3{
  margin: 0;
  font-size: 18px;
}
.message-list{
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  
}
.message{
  display: block;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: fit-content;
  word-wrap: break-word;
  white-space: normal;
}
.sent{
  margin-left: auto;
  background-color: #5c8aee;
  color: white;
  align-self: center;
}
.recv{
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message-input{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  
}
.message-input textarea{
  margin:10px;
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 30px/15px;
  resize: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: inherit;
}
.message-input button{
  padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.message-input button:hover {
  background-color: #0065d1;
}
.friend-name{
  color: black;
}