
.login-container{
    width: 400px;
    margin:0 auto; 
    padding:30px;
    border: 5px solid #ddd;
    border-radius: 15px;
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.signup-container h2{
    text-align: center;
}
.signup-container form{
    margin-top:20px;
}
.form-group{
    margin-bottom: 15px;
    margin-right: 15px;
}
.form-group label{
    display: block;
    margin-bottom:5px;
}
.form-group input{
    width: 100%;
    padding:8px;
    border: 1px solid #ccc;
    border-radius:4px;
}

button[type="submit"]{
    display: block;
    width: 100%;
    padding:10px;
    border:none;
    border-radius:4px;
    background-color:rgb(3, 3, 3);
    color:#fff;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #383838;
  }


.error-message{
    color:red;
}
input.invalid{
    background-color: #ffcccc;
}
.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom:  50px;
    margin-left: 435px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: white;
}
h2{
    color: #000000d0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.logo-container{
    text-align: center;
    margin-top: 50px;
    margin-left: 470px;

}
.logo{
    width: 200px;
    display: flex;
}
label{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.link{
    margin-top:10px;
    margin-left: 40px;
}
.custom{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.custom:hover{
    color: blue;
}